html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;400;700&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --header-color: #372d2a;
    --aside-color: #040606;
    --main-color: #00000099;
    --accent-color: #9e7a69;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: white;
    display: grid;
    grid-template: 1fr 8fr / 1fr 5fr;
}

/* -------------------------------------------------- */

.btn {
    background: none;
    border: none;
    color: white;
}
.btn:active {
    transform: translateY(4px);
}
svg {
    width: 40px;
    fill: white;
}
input {
    font-size: 1rem;
    padding: 1em;
    color: white;
    border: none;
    background-color: var(--main-color);
}
.active {
    letter-spacing: 10px;
    cursor: pointer;
}
.priority-low{
    border-left: 10px solid green;
}
.priority-medium{
    border-left: 10px solid yellow;
}
.priority-high{
    border-left: 10px solid red;
}


/* -------------------------------------------------- */

header {
    font-family: 'Lobster', sans-serif;
    font-size: 4rem;
    letter-spacing: 5px;
    padding: 1rem;
    background-color: var(--header-color);
    grid-area: 1 / 1 / 2 / 3;
}
header svg {
    width: 60px;
    fill: white;
}
.logo {
    width: max-content;
    display: flex;
    gap: 20px;
    animation: logoFadeIn 1.5s;
}

/* -------------------------------------------------- */

aside {
    font-size: 2rem;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 5px;
    padding: 75px 0;
    background-color: var(--aside-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home {
    margin-bottom: 50px;
}
#home:hover {
    letter-spacing: 10px;
    cursor: pointer;
}
#projects-heading {
    text-align: center;
    width: 200px;
    margin-bottom: 25px;
    padding: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#projects-list {
    list-style-type: none;
    text-align: center;

    /* background-color: red; */
    height: 400px;
    width: 200px;
    overflow: auto;
}
#projects-list li {
    margin-bottom: 5px;
}
.projects:hover {
    letter-spacing: 10px;
    cursor: pointer;
}
.newBtn {
    font-size: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--aside-color);
    background-color: var(--accent-color);
    position: absolute;
    bottom: 50px;
    transition: all 0.1s linear;
}
.newBtn:hover {
    background-color: var(--header-color);
    transform: rotate(90deg);
}
.newBtn:active {
    transform: translateY(7px);
}

/* -------------------------------------------------- */

main {
    padding: 100px 0;
    background-image: url('./Images/bg.png');
    background-size: cover;
    background-position: center 0%;
    background-attachment: fixed;
}
.content {
    height: 615px;
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}
.card {
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in;
    animation: fadeIn 0.75s ease-out;
}
.left,
.right {
    margin: 0 10px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.status {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.checked {
    font-weight: 100;
    text-decoration: line-through solid white 1px;
}
.right {
    font-size: 1.25rem;
}
.outline-btn,
.editBtn,
.deleteBtn {
    cursor: pointer;
    transition: all 0.05s linear;
}
.outline-btn {
    font-style: inherit;
    font-size: 1rem;
    padding: 0.5em;
    color: var(--accent-color);
    background-color: var(--main-color);
    border: 2px solid;
    border-radius: 5px;
}
.editBtn svg {
    width: 30px;
    fill: var(--accent-color);
}
.deleteBtn {
    padding: 0;
}
.deleteBtn svg {
    width: 25px;
    fill: red;
}
.title {
    max-height: 2.1rem;
    width: 900px;
    overflow: auto;
}

/* -------------------------------------------------- */

.new-dialog-box {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    animation: fadeIn 0.75s;
}
.new-dialog-box-invisible {
    visibility: hidden;
    opacity: 0;
    display: none;
    animation: fadeOut 0.75s;
}
.container {
    height: 60vh;
    width: 50vw;
    color: white;
    display: grid;
    grid-template: 1fr 8fr / 1fr 5fr;
    transition: all 0.25s ease-in-out;
}
.container-header {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 0.75rem;
    background-color: var(--header-color);
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: space-between;
}
.container-aside {
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 5px;
    padding-top: 20px ;
    background-color: var(--aside-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.category:hover {
    letter-spacing: 10px;
    cursor: pointer;
}
.container-main {
    padding: 25px;
    background-image: url('./Images/bg.png');
    background-size: contain;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-top,
.form-bottom {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.date,
.priority {
    display: flex;
    align-items: center;
    gap: 10px;
}
#form-description {
    font-size: 1rem;
    padding: 1em;
    color: white;
    border: none;
    background-color: var(--main-color);
}
#form-date {
    text-transform: uppercase;
}
#form-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.priority-btns {
    font-weight: 600;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in ;
}
.priority-btns:hover {
    color: black !important; 
}
#low {
    color: green;
}
#low:hover {
    background-color: green;
    border-color: green;
}
#medium {
    color: yellow;
}
#medium:hover {
    background-color: yellow;
    border-color: yellow;
}
#high {
    color: red;
}
#high:hover {
    background-color: red;
    border-color: red;
}
.low-hover {
    background-color: green;
    border-color: green;
    color: black !important;
}.medium-hover {
    background-color: yellow;
    border-color: yellow;
    color: black !important;
}
.high-hover {
    background-color: red;
    border-color: red;
    color: black !important;
}
#createBtn {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

/* -------------------------------------------------- */

.details-dialog-box {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    animation: fadeIn 0.75s;
}
.details-dialog-box-invisible {
    visibility: hidden;
    opacity: 0;
    display: none;
    animation: fadeOut 0.75s;
}
.details-container {
    height: 40vh;
    width: 35vw;
    color: white;
    transition: all 0.25s ease-in-out;
}
.details-container-header {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 15px 25px;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
}
.details-container-main {
    font-size: 1.25rem;
    height: 70%;
    padding: 2rem;
    background-color: var(--main-color);
    border-top: 5px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
#details-title {
    max-height: 6rem;
    overflow: auto;
}
#details-description {
    max-height: 75%;
    overflow-y: auto;
}

/* -------------------------------------------------- */

.empty-project {
    font-weight: 900;
    padding: 2rem;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    animation: fadeIn 0.75s;
}
#empty-heading {
    font-size: 3rem;
}
#empty-para {
    font-size: 3rem;
}
#delete-project {
    font-size: 1.5rem;
}

/* -------------------------------------------------- */

@keyframes logoFadeIn {
	0% {
		opacity: 0;
        transform: translateX(200px);
	}
    
	100% {
        opacity: 1;
        transform: translateX(0px);
	}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
        display: flex;
    }
}

/* -------------------------------------------------- */

::-webkit-scrollbar {
    height: 5px;
	width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: white;
}